services:
  web:
    image: gonkagate/nextjs-vercel-ai-sdk-chat:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: "3000"
    ports:
      - "3000:3000"
